@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(219, 218, 247, 0.6);
}

h1 {
    font-size: 5rem;
    margin: 0.5rem;
}

h3 {
    font-size: 2.5rem;
    border: solid black 0.25rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

.game-grid {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: auto;
}

div.game-grid > * {
    justify-self: center;
}

#new-game-button {
    font-size: 2rem;
    background-color: rgba(219, 218, 247, 1);
    border-radius: 5px;
}

#gameboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 25rem;
    width: 25rem;
    margin: 3rem;
    font-size: 2.5rem;
}

#grid-0 {
    border-right: solid black 0.25rem;
    border-bottom: solid black 0.25rem;
    place-self: center;
}

#grid-1 {
    border-right: solid black 0.25rem;
    border-bottom: solid black 0.25rem;
    place-self: center;
}

#grid-2 {
    border-bottom: solid black 0.25rem;
    place-self: center;
}

#grid-3 {
    border-right: solid black 0.25rem;
    border-bottom: solid black 0.25rem;
    place-self: center;
}

#grid-4 {
    border-right: solid black 0.25rem;
    border-bottom: solid black 0.25rem;
    place-self: center;
}

#grid-5 {
    border-bottom: solid black 0.25rem;
    place-self: center;
}

#grid-6 {
    border-right: solid black 0.25rem;
    place-self: center;
}

#grid-7 {
    border-right: solid black 0.25rem;
    place-self: center;
}

#grid-8 {
    place-self: center;
}
